@page "/"

<div class="page d-flex justify-content-center min-vh-100">
    <div class="page-content d-inline-flex flex-column m-auto">
        <h1 class="page-content__title">Weather Report</h1>

        @if (Clicked)
        {
            @if (Forecast is null)
            {
                <div class="spinner-border m-auto" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
            else
            {
                <div class="forecast d-flex flex-column align-items-center">
                    <p class="forecast-text">Your location:</p>
                    <p class="forecast-text">@Forecast.Location</p>
                </div>

                <div class="forecast d-flex flex-column align-items-center">
                            <p class="forecast-text">@Forecast.Temperature℃</p>
                    <p class="forecast-text">Humidity: @Forecast.Humidity%</p>
                            <p class="forecast-text">Wind speed: @Forecast.WindSpeed</p>
                </div>
            }
        }
        else
        {
            <button class="page-content__button" @onclick="GetForecast">Get Report</button>
        }
    </div>
</div>
