.page {
    background-color: #0A1F44;
}

.page-content__title {
    margin-bottom: 30px;
}

.page-content__title, .page-content__button {
    text-transform: uppercase;
}

.page-content__button {
    padding: 13px 25px;
    border: 0;
}

.forecast, .page-content__button {
    background-color: #FF1E42;
}

.forecast {
    margin-bottom: 20px;
    padding: 10px 10px 5px 10px;
}

.forecast-text {
    margin: 0 0 5px 0;
}